body {
  background-color: #A1D490;
}
h1 {
  background-color: #069700;
  color: white;
  font-size: 4em;
  line-height: 4em;
  text-align: center;
  font-family: cursive;
  border-radius: 25px;
}
p {
  font-weight: bolder;
  font-size: 1.5em;
  color: #900;
}

.about p {
  font-weight: normal;
  font-size: 1.15em;
  color: #006bb3;
}

.about a {
  color: #900;
}

#pingpong {
  margin-top: 25px;
  text-align: center;
}
